body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: rgb(248, 7, 248);
    font-weight: 700px;
}
.grey-color{
    color: grey;
    font-weight: 700px;
}
.white-color{
    color:white;
    font-weight: 700px;
}
.button{
    text-align: left;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 23px;
    border-radius: 20px;
    color: white;
    font-weight: 700;   
}
.flexible{
    display: flex;
}
.section-1{
    margin: 50px 30px 50px 30px;
    background-image: url(middle-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5%;
}
.intro{
    width: 100%;
    padding: 20px;
}
.first-pic{
    width: 70%;
    padding: 5px;
}
.section-2{
    margin: 50px 30px 50px 30px;
    background-image: url(middle.jpg);
    background-size: 100%;
}
.second-pic{
    width: 70%;
    padding: 5px;
}
.about-me{
    padding-left: 10%;
    padding-top: 5%;
}
.section-3{
    text-align: center;
}
.section-4{

}
.recipe-title{
    padding: 15%;
    width: 80%;
}
#section-5{
    text-align: center;
    height: 200%;
    width: 100%;
    background-color: black;
}
.recipe-pic{

}
.shadow{
    width: 100%;  
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;  
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px grey;
}
.footers{
    
}